<template>
    <div class="auth">
      <form>
        <md-field>
          <label>Username</label>
          <md-input v-model="user.username" type="text"></md-input>
        </md-field>
        <md-field>
          <label>Password</label>
          <md-input v-model="user.password" type="password"></md-input>
        </md-field>
        <md-button class="md-raised md-primary" v-on:click="login">Login</md-button>
      </form>
    </div>
</template>

<script>
  import * as authAPI from '../api/auth'

  export default {
    name: 'auth',
    data: () => ({
      user: {
        username: '',
        password: ''
      }
    }),
    methods: {
      login () {
        authAPI.loginAPI(this.user, (res) => {
          localStorage.setItem('token', res.data.token)
        })
      }
    }
  }
</script>

<style scoped>
  form{
    width: 280px;
    text-align: center;
    left: 40%;
    position: relative;
  }
</style>
