<template>
    <div class="message">
      <h3>Add Todo</h3>
      <form method="POST">
        <md-field>
          <label>Todo</label>
          <md-input v-model="todo.todo_name" type="text"></md-input>
        </md-field>
        <md-button class="md-raised  md-primary" v-on:click="todoAction">Add Todo</md-button>
      </form>
      <md-list class="md-list">
        <md-list-item v-for="todo in list_todo" :key="todo.id_todo" v-on:click="getTodo(todo.id_todo)">
          <md-icon>move_to_inbox</md-icon>
          <span class="md-list-item-text">{{todo.todo_name}}</span>
          <md-button class="md-icon-button md-list-action" v-on:click="removeTodo(todo.id_todo)">
            <md-icon>delete</md-icon>
          </md-button>
        </md-list-item>
      </md-list>
    </div>
</template>

<script>
  import * as todoAPI from '../api/todo'

  export default {
    name: 'message',
    data: () => ({
      list_todo: [],
      action: 'add',
      todo: {
        id_todo: null,
        todo_name: ''
      }
    }),
    async created () {
      this.fetchData()
    },
    watch: {
      '$route': 'fetchData'
    },
    methods: {
      async todoAction () {
        var todo = this.todo
        if (this.action === 'add') {
          await todoAPI.addTodo(todo, () => {
            this.fetchData()
            this.todo.todo_name = ''
            this.action = 'add'
          })
        }
        if (this.action === 'modify') {
          await todoAPI.editTodo(todo, () => {
            this.fetchData()
            this.todo.todo_name = ''
            this.todo.id_todo = null
            this.action = 'add'
          })
        }
      },
      removeTodo (idTodo) {
        todoAPI.removeTodo(idTodo, () => {
          this.fetchData()
          this.todo.todo_name = ''
          this.action = 'add'
        })
      },
      getTodo (id) {
        this.action = 'modify'
        todoAPI.getTodo(id, (res) => {
          this.todo = res.data
        })
      },
      fetchData () {
        todoAPI.getTodos((res) => {
          this.list_todo = res.data
        })
      }
    }
  }
</script>

<style scoped>
  form{
    width: 280px;
    text-align: center;
    left: 40%;
    position: relative;
  }
  .md-list{
    width: 280px;
    text-align: center;
    left: 40%;
    position: relative;
  }
</style>
